<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="ideas">
  <% @ideas.each do |idea| %>
  <%= render idea %>
  <p>
    <%= link_to "Show this User", idea %>
  </p>
  <% end %>
</div>

<%= link_to "New User", new_idea_path %>