<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">MakeMyTrip</a>

    <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav ms-md-auto align-items-md-center">
        <li class="nav-item">
          <a href="/pages" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/signin" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link" id="contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1>New User</h1>

<%= render "form", idea: @idea %>

<br>

<div class="submit-btn">
  <%= link_to "Back to Users", ideas_path %>
</div>