<%= render @idea %>

<div>
  <%= link_to "Edit this User", edit_idea_path(@idea) %> |
  <%= link_to "Back to Users", ideas_path %>

  <%= button_to "Destroy this User", @idea, method: :delete %>
</div>
