<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navBar">
    <a href="/" class="navLink">Home</a>
    <a href="/users" class="navLink">Users</a>
    <a href="/about" class="navLink">About</a>
    <a href="/contact" class="navLink">Contact</a>
  </nav>
  <h1>Contact Us</h1>
  <h2>Happy to see you interested in our product</h2>
  <h3>Please leave your infromation here to get in touch with you</h3>
</body>

</html>