<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">MakeMyTrip</a>

    <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav ms-md-auto align-items-md-center">
        <li class="nav-item">
          <a href="/pages" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/signin" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link" id="home">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="contact p-3">
  <h1 class="text-center">Contact Us</h1>
  <h3 class="text-center">Leave your information here to get in touch with us...</h3>

  <form class="contact-form mt-3 mx-auto" method="POST" action="">
    <div class="d-flex flex-column justify-content-center align-items-center flex-md-row justify-content-md-between">
      <input type="text" class="contact-input contact-input-mod form-control my-2" placeholder="Your Name" required>
      <input type="number" class="contact-input contact-input-mod form-control my-2" placeholder="Your Mobile No."
        required>
    </div>
    <input type="email" class="contact-input form-control my-2" placeholder="Your Email ID" required>
    <button class="contact-btn text-white">Submit</button>
  </form>
</section>