<section class="contact p-3">
  <h1 class="text-center">Contact Us</h1>
  <h3 class="text-center">Leave your information here to get in touch with us...</h3>

  <form class="contact-form mt-3 mx-auto" method="POST" action="">
    <div class="d-flex flex-column justify-content-center align-items-center flex-md-row justify-content-md-between">
      <input type="text" class="contact-input contact-input-mod form-control my-2" placeholder="Your Name" required>
      <input type="number" class="contact-input contact-input-mod form-control my-2" placeholder="Your Mobile No."
        required>
    </div>
    <input type="email" class="contact-input form-control my-2" placeholder="Your Email ID" required>
    <button class="contact-btn text-white">Submit</button>
  </form>
</section>