<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">MakeMyTrip</a>

    <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav ms-md-auto align-items-md-center">
        <li class="nav-item">
          <a href="/pages" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/signin" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link" id="contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%# Hero section starts %>
<section class="w-100 hero d-flex justify-content-center align-items-center">
  <div class="overlay"></div>
  <div class="hero-content">
    <h3 class="text-white text-center my-1">Make your wonderful trip with us...</h3>
    <div class="d-lg-flex justify-content-lg-center align-items-lg-center">
      <input type="text" class="hero-input my-1" placeholder="Search your favourite place here">
      <button class="hero-btn text-white my-1">Search</button>
    </div>
  </div>
</section>
<%# Hero section ends %>

<%# About section starts %>
<section class="about w-100 d-flex justify-content-center align-items-center py-5">
  <div class="about-content text-black">
    <h1>About Us</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
      numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
      optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
      obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
      nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
      tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
      quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
      sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
      recusandae alias error harum maxime adipisci amet laborum. Perspiciatis
      minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit
      quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur
      fugiat, temporibus enim commodi iusto libero magni deleniti quod quam
      consequuntur! Commodi minima excepturi repudiandae velit hic maxime
      doloremque. Quaerat provident commodi consectetur veniam similique ad
      earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo
      fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore
      suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
      modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam
      totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam
      quasi aliquam eligendi, placeat qui corporis!
    </p>
  </div>
</section>
<%# About section ends %>

<%# Services section starts %>
<section class="services py-5">
  <h1 class="mx-auto mb-3">Our Services</h1>

  <div class="d-flex flex-wrap justify-content-center align-items-center gap-3">
    <%# Service 1 %>
    <div class="card service d-flex flex-column justify-content-center align-items-center p-3">
      <i class="fas fa-hotel my-2"></i>
      <h3 class="text-center my-1">Affordable Five Star Accommodation</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos exercitationem, quibusdam officiis autem aliquam
        aperiam possimus blanditiis quasi!
      </p>
    </div>

    <%# Service 2 %>
    <div class="card service d-flex flex-column justify-content-center align-items-center p-3">
      <i class="fas fa-hamburger my-2"></i>
      <h3 class="text-center my-1">Free Foods and & Drinks</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos exercitationem, quibusdam officiis autem aliquam
        aperiam possimus blanditiis quasi!
      </p>
    </div>

    <%# Service 3 %>
    <div class="card service d-flex flex-column justify-content-center align-items-center p-3">
      <i class="fas fa-route my-2"></i>
      <h3 class="text-center my-1">Appropriate Guidance</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos exercitationem, quibusdam officiis autem aliquam
        aperiam possimus blanditiis quasi!
      </p>
    </div>

    <%# Service 4 %>
    <div class="card service d-flex flex-column justify-content-center align-items-center p-3">
      <i class="fas fa-globe-asia my-2"></i>
      <h3 class="text-center my-1">All over the World</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos exercitationem, quibusdam officiis autem aliquam
        aperiam possimus blanditiis quasi!
      </p>
    </div>

    <%# Service 5 %>
    <div class="card service d-flex flex-column justify-content-center align-items-center p-3">
      <i class="fas fa-plane my-2"></i>
      <h3 class="text-center my-1">Comfortable and Quick Journey</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos exercitationem, quibusdam officiis autem aliquam
        aperiam possimus blanditiis quasi!
      </p>
    </div>

    <%# Service 6 %>
    <div class="card service d-flex flex-column justify-content-center align-items-center p-3">
      <i class="fas fa-hiking my-2"></i>
      <h3 class="text-center my-1">Adventure to your Vision</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos exercitationem, quibusdam officiis autem aliquam
        aperiam possimus blanditiis quasi!
      </p>
    </div>
  </div>
</section>
<%# Services section ends %>