<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a href="/" class="navbar-brand">MakeMyTrip</a>

      <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ms-md-auto align-items-md-center">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/users" class="nav-link">Our Service</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link" id="contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="service">
    <div class="overlay"></div>
    <div class="service-content">
      <h1>Our Services</h1>

      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
      </ul>
      
    </div>
  </section>
</body>

</html>